<!-- templates/components/navbar.html-->
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'visio_menu' %}">Visioconference</a></li>
  <li><a href="{% url 'index' %}">Groupe chat</a></li>
  <li><a href="{% url 'index' %}">Apprendre la langue des signes</a></li>
  <li><a href="{% url 'index' %}">A propos</a></li>
{% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log Out</a></li>
{% else %}
    <li><a href="{% url 'login' %}">Log In</a></li>
{% endif %}
</ul>